#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-bar {
  background-color: rgb(212, 158, 211);
  width: 100% !important; 
  height: 10vh;
  display: flex;
  justify-content: space-around;
  top: 0px;
  left: 0px;
  position: fixed;
}

nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav div:hover {
  color: rgb(64, 3, 62);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
